<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mappa</title>

  <!--Char.js (grafico)-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

  <!--Leaflet (mappa)-->
  <script src="https://cdn.jsdelivr.net/npm/leaflet"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css" />

  <style>
    #map {
      height: 100%;
      width: 100%;
    }

    #qualitativo {
      text-align: center;
      font-family: 'Helvetica Neue';
    }

    .punteggio {
      padding-top: 4%;
      padding-bottom: 4%;
    }

    .punteggio table {
      border-collapse: collapse;
      /* Per unire i bordi delle celle */
      width: 100%;
      /* Opzionale: per rendere la tabella larga quanto il contenitore */
    }

    .punteggio th,
    .punteggio td {
      border: 1px solid #ddd;
      /* Colore e stile del bordo */
      background-color: #f2f2f2;
      /* Colore di sfondo per l'intestazione */
      padding: 8px;
      /* Spaziatura interna delle celle */
    }

    .punteggio th {
      text-align: center;
      /* Allineamento del testo */
    }

    .punteggio td {
      text-align: center;
      /* Allineamento del testo nelle celle */
    }

    button.btn-home {
      background-color: #f2f2f2;
      color: black;
      font-size: 14px;
      width: fit-content;
      border: 1px solid #ddd;
      border-radius: 5%;
    }

    #home-btn-div {
      text-align: center;
    }
  </style>

</head>

<body>
  <div style="display: flex; height: 100vh;">

    <!--Mappa interattiva-->
    <div id="map" style="flex: 2;"></div>

    <!--Colonna dove si trova il grafico a torta-->
    <div style="flex: 1; padding: 10px; background-color: #f9f9f9; border-left: 1px solid #ddd;">
      <h1 id="qualitativo"></h1>

      <!--Canvas => utile per contenere elementi bitmap e le loro caratteristiche di risoluzione (Grafico a torta)-->
      <canvas id="airQualityChart" width="400" height="400"></canvas><br>
    </div>
  </div>

  <!--Inizio JS-->
  <script>
    const map = L.map('map').setView([37.7749, -122.4194], 5);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
    }).addTo(map);

    let currentMarker = null; //Marker sulla mappa
    let airQualityChart = null; //Grafico a torta nella colonna destra

    //Per ottenere i dati sulla qualità dell'aria (chiedendo localhost:3000/air al server)
    function getAirQuality(lat, lon) {
      fetch(`http://localhost:3000/air?lat=${lat}&lon=${lon}`)
        .then(response => response.json())
        .then(data => {
          const { list } = data;
          if (list && list.length > 0) {
            const airQuality = list[0];
            const { main, components } = airQuality;

            //Se c'è un marker sulla mappa...
            if (currentMarker) {
              map.removeLayer(currentMarker); //...lo rimuove per poi aggiungere il nuovo (in questo modo c'è solo 1 marker nella mappa)
            }

            //Creazione del marker con i dati (il bind popup permette solo di vedere i dati quando schiacchi sopra il marker)
            currentMarker = L.marker([lat, lon])
              .addTo(map)
              .bindPopup(`
                <b>Qualità dell'aria</b><br>
                AQI: ${main.aqi}<br>
                PM2.5: ${components.pm2_5} µg/m³<br>
                NO2: ${components.no2} µg/m³<br>
                PM10: ${components.pm10} µg/m³<br>
                SO2: ${components.so2} µg/m³<br>
                O3: ${components.o3} µg/m³<br>
                CO: ${components.co} µg/m³<br>
                NH3: ${components.nh3} µg/m³
                NO: ${components.no} µg/m³<br>
              `)

            //Mostra sul grafico a torta i dati ricevuti
            updateAirQualityChart(components);

            if (main.aqi == 1) {
              document.getElementById("qualitativo").innerHTML = "Qualità dell'Aria (Discreta)";
            } else if (main.aqi == 2) {
              document.getElementById("qualitativo").innerHTML = "Qualità dell'Aria (Buona)";
            } else if (main.aqi == 3) {
              document.getElementById("qualitativo").innerHTML = "Qualità dell'Aria (Moderata)";
            } else if (main.aqi == 4) {
              document.getElementById("qualitativo").innerHTML = "Qualità dell'Aria (Scarsa)";
            } else if (main.aqi == 5) {
              document.getElementById("qualitativo").innerHTML = "Qualità dell'Aria <br>(Veramente scarsa)";
            }
          }
        })
        .catch(error => console.error('Errore nella richiesta:', error));
    }

    //Legenda sulla mappa riguardante i punteggi a seconda dell'AQI
    const legend = L.control({ position: 'bottomright' });

    legend.onAdd = function (map) {
      const div = L.DomUtil.create('div', 'info legend');
      div.innerHTML = `
        <div id="punteggio" class="punteggio">
        <table>
          <thead>
            <tr>
              <th>AQI</th>
              <th>Indice (AQI)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Discreta</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Buona</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Moderata</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Scarsa</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Veramente scarsa</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div id="home-btn-div">
        <button class="btn-home" onclick="window.location.href='/'">Torna alla Home Page</button>
      </div>
      `;
      return div;
    };

    legend.addTo(map);

    //Grafico a torta nella colonna a destra della pagina
    function updateAirQualityChart(components) {
      const data = {
        labels: ['CO', 'NO', 'NO2', 'O3', 'SO2', 'PM2.5', 'PM10', 'NH3'],
        datasets: [{
          label: 'Qualità dell\'Aria',
          data: [
            components.co,
            components.no,
            components.no2,
            components.o3,
            components.so2,
            components.pm2_5,
            components.pm10,
            components.nh3
          ],
          backgroundColor: [
            '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0',
            '#9966FF', '#FF9F40', '#FFCD56', '#C9CBCF'
            /*//Con alcuni colori dell'agenda 2030 (orribile)
            '#e5233d', '#1c97d3', '#f89c2d', '#59ba47',
            '#f16b2c', '#a31c45', '#14496b', '#e01483'
            */
          ],
          hoverOffset: 8 //Effetto di espansione della fetta di grafico quando ci si va sopra con il mouse
        }]
      };

      const config = {
        type: 'pie',  //"doughnut","radar","line","bar","pie"
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            tooltip: {
              callbacks: {
                label: function (tooltipItem) {
                  return `${tooltipItem.label}: ${tooltipItem.raw} µg/m³`;
                }
              }
            }
          }
        }
      };

      //Distruggi il grafico precedente, se esiste
      if (airQualityChart) {
        airQualityChart.destroy();
      }

      //Crea un nuovo grafico
      const ctx = document.getElementById('airQualityChart').getContext('2d');
      airQualityChart = new Chart(ctx, config);
    }

    currentPosition();

    //Aggiungi un evento per selezionare una città cliccando sulla mappa
    map.on('click', function (e) {
      const { lat, lng } = e.latlng;
      getAirQuality(lat, lng); //Ottieni la qualità dell'aria per la posizione cliccata
    });


    //Per posizionare la visuale della mappa sulla posizione attuale dell'utente
    function currentPosition() {
      //Posizione attuale dell'utente
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          position => {
            const { latitude, longitude } = position.coords;
            map.setView([latitude, longitude], 10); //Centra la mappa sulla posizione dell'utente
            getAirQuality(latitude, longitude); //Ottieni la qualità dell'aria per la posizione attuale
          },
          error => {
            console.error('Errore nella geolocalizzazione:', error);

            //Seleziona come punto di partenza Quito, Il Centro del Mondo
            const defaultLat = -0.2204; //Coordinate di default
            const defaultLon = -78.5124; //Coordinate di default
            map.setView([defaultLat, defaultLon], 10);
            getAirQuality(defaultLat, defaultLon);
          }
        );
      } else {
        console.error('Geolocalizzazione non supportata dal browser');

        //Seleziona come punto di partenza Quito, Il Centro del Mondo
        const defaultLat = -0.2204; //Coordinate di default
        const defaultLon = -78.5124; //Coordinate di default
        map.setView([defaultLat, defaultLon], 10);
        getAirQuality(defaultLat, defaultLon);
      }
    }
  </script>
</body>

</html>