doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Geolocalizzazione Inquinamento
    link(rel="stylesheet", href="../css/style.css")
  body
    header
      .container
        h1 Sviluppo Sostenibile
        nav
          ul
            li: a(href="/index") Home
            li: a(href="/sviluppo") Cos'è
            li: a(href="/html/map") Monitora Inquinamento

    main
      section#input-coord
        .container
          h2 Inserisci Coordinate Geografiche
          form(action="/air" method="get")
            label(for="lat") Latitudine: 
            input(type="text" id="lat" name="lat" required placeholder="es. 45.4642")
            br
            label(for="lon") Longitudine: 
            input(type="text" id="lon" name="lon" required placeholder="es. 9.1900")
            br
            label(for="citta") Citta: 
            input(type="text" id="citta" name="citta" required placeholder="es. Parma")
            br
            button(type="submit") Controlla Qualità dell'Aria

    footer#contatti
      .container
        h2 Contattaci
        p Email: info@svilupposostenibile.it
        p © 2025 Sviluppo Sostenibile
