extends layout

block content
  main
    section#hero
      .container
        h2 Insieme per un futuro migliore
        p Scopri come vivere in modo più sostenibile per proteggere il nostro pianeta.

    section#cos-e
      .container
        h2 Cos'è lo sviluppo sostenibile?
        p È un modello di crescita che garantisce il benessere delle persone, la protezione dell’ambiente e lo sviluppo economico.

    section#obiettivi
      .container
        h2 Obiettivi dell'Agenda 2030
        ul
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal1.pdf") Sconfiggere la povertà
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal2.pdf") Sconfiggere la fame
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal3.pdf") Salute e benessere
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal4.pdf") Istruzione di qualità
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal5.pdf") Parità di genere 
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal6.pdf") Acqua pulita e servizi igienico-sanitari 
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal7.pdf") Energia pulita e accessibile
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal8.pdf") Lavoro dignitoso e crescita economica
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal9.pdf") Imprese, innovazione e infrastrutture
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal10.pdf") Ridurre le disuguaglianze
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal11.pdf") Città e comunità sostenibili
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal12.pdf") Consumo e produzione responsabili
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal13.pdf") Lotta contro il cambiamento climatico
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal14.pdf") Vita sott'acqua
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal15.pdf") Vita sulla terra
          li 
            a(href="https://www.agenziacoesione.gov.it/wp-content/uploads/2020/04/agenda-2030-goal16.pdf") Pace, giustizia e istituzioni solide
          li 
            a(href="") Partnership per gli obiettivi (1/2 - 2/2)

    section#azioni
      .container
        h2 Cosa puoi fare tu
        p Riduci gli sprechi, utilizza trasporti sostenibili, sostieni l’economia locale e informati.