doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sviluppo Sostenibile
    link(rel="stylesheet", href="../css/style.css")
  body
    header
      .container
        h1 Sviluppo Sostenibile
        nav
          ul
            li: a(href="/sviluppo") Cos'è
            li: a(href="/html/map") Monitora Inquinamento


    main
      section#hero
        .container
          h2 Insieme per un futuro migliore
          p Scopri come vivere in modo più sostenibile per proteggere il nostro pianeta.

      section#cos-e
        .container
          h2 Cos'è lo sviluppo sostenibile?
          p È un modello di crescita che garantisce il benessere delle persone, la protezione dell’ambiente e lo sviluppo economico.

      section#obiettivi
        .container
          h2 Obiettivi dell'Agenda 2030
          ul
            li Sconfiggere la povertà
            li Educazione di qualità
            li Parità di genere
            li Energia pulita
            li Clima e ambiente

      section#azioni
        .container
          h2 Cosa puoi fare tu
          p Riduci gli sprechi, utilizza trasporti sostenibili, sostieni l’economia locale e informati.

    footer#contatti
      .container
        h2 Contattaci
        p Email: info@svilupposostenibile.it
        p © 2025 Sviluppo Sostenibile