extends layout

block content
  main
    section#input-coord
      .container
        center
          h2 Come usare le nostre API 
        p E' possibile fare richieste di API al nostro server digitando l'url... 
        div(style="background-color:rgba(102, 102, 102, 0.31)") 
          center
            code /api?lat={x.x}&lon={x.x}
        p ... dove {x.x} è la latitudine e {x.x} è la longitudine.
        p Così facendo si otterrà un file JSON con i dati richiesti...
        div(style="background-color:rgba(102, 102, 102, 0.31)") 
          code {<br>
          code &nbsp;&nbsp;"coords": {<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lat": x.x,<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lon": x.x<br>
          code &nbsp;&nbsp;},<br>
          code &nbsp;&nbsp;"aqi_txt": "(Indice di qualità in stringa)",<br>
          code &nbsp;&nbsp;"aqi_int": (Indice di qualità in intero),<br>
          code &nbsp;&nbsp;"comps": {<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"co": x.x,<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"no": x.x,<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"no2": x.x,<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"o3": x.x,<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"so2": x.x,<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pm2_5": x.x,<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pm10": x.x,<br>
          code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"nh3": x.x<br>
          code &nbsp;&nbsp;},<br>
          code &nbsp;&nbsp;"dt_txt": "gg/mm/yyyy, ore:minuti:secondi",<br>
          code &nbsp;&nbsp;"dt_unix": (intero di rappresentazione del tempo per informatici - UNIX Epoch)<br>
          code }